<h3>Find by Name</h3>
<% let alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'] %>
<p class="chart-list" id="data-buttons">
    <button class="active" onclick="findSorted('a', 0)">A</button>
    <% for(let i = 1; i < alphabet.length; i++){ %>
        <button onclick="findSorted('<%= alphabet[i].toLowerCase() %>', <%= i %>)"><%= alphabet[i] %></button>
    <% } %>
</p>
<script style="display: none">
    let alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
    let scrolled = false;

    function loopFind(letter, self){
        let e = self.find('.post-header > span');

        if(e[0]){
            e = $(e[0]);
            let lc = e.text().toLowerCase().trim()[0];
            let d = e.parent().parent().css('display');

            if(lc == letter && d != 'none'){
                scrolled = true;
                let offset = self.offset().top - 0.5*self.height();
                $('html,body').animate({scrollTop: offset}, 1000);

                return false;
            }
        }
    }

    function findSorted(letter, idx){
        let hasScrolled = false;
        let initialScroll = $('html').scrollTop();

        for(let n = 0; n <= idx && !scrolled; n++){
            $('#posts .post-card').each(function(i){
                loopFind(alphabet[idx - n].toLowerCase(), $(this));
            });
        }

        $('#data-buttons button').attr('class', '');
        $($('#data-buttons button')[idx]).attr('class', 'active');
        scrolled = false;
    }
</script>
