</div>
<% if(locals.home){ %>
    <p class="bottom-info flex-container" style="justify-content: space-between; bottom: 0">
        <span style="margin: 0 10px">
            <i class="fab fa-facebook"></i>
        </span>
        <span style="margin: 0 10px; font-weight: 300"><i>Cheflyfe PTY LTD</i></span>
    </p>
<% } %>
</body>
<script type="text/javascript" src="/js/main.js"/></script>
</html>
