<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <link rel="icon" type="image/png" sizes="16x16" href="/img/static/favicon.ico">
        <script src="/js/jquery.min.js" type="text/javascript"></script>
        <script src="/js/jquery.timeago.js" type="text/javascript"></script>
        <script data-ad-client="ca-pub-7962859384641368" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>ChefLyfe</title>
    </head>
    <body>
        <% let expired = false %>
        <% if(locals.session){ %>
            <% expired = session.paymentStatus != 'ACTIVE' && !session.admin && session.paid && !session.emailPending %>
        <% } %>
        <% include navbar %>
        <div id="content">
            <style>
                div.it-client {
                    background-color: whitesmoke;
                    width: 100% !important;
                }
                div.it-client iframe {
                    margin: auto;
                }
            </style>
            <% if(expired && !locals.payment){ %>
                <script data-cfasync='false' type='text/javascript' src='//p364985.clksite.com/adServe/banners?tid=364985_715461_1'></script>
            <% } %>
