<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <link rel="icon" type="image/png" sizes="16x16" href="/img/static/favicon.ico">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1397447865882517",
            enable_page_level_ads: true
          });
        </script>
        <script src="/js/jquery.min.js" type="text/javascript"></script>
        <script src="/js/jquery.timeago.js" type="text/javascript"></script>
        <title>ChefLyfe</title>
    </head>
    <body>
        <% let expired = false %>
        <% if(locals.session){ %>
            <% expired = session.paymentStatus != 'ACTIVE' && !session.admin && session.paid %>
        <% } %>
        <% include navbar %>
        <div id="content">
