<% include partials/header %>
<% let expired = false %>
<% if(locals.session){ %>
    <% expired = session.paymentStatus != 'ACTIVE' && !session.admin && session.paid && !session.emailPending %>
<% } %>
<% if(expired){ %>
    <% include partials/expired %>
<% }else{ %>
    <% let c = session.currency %>
    <div class="profile-nav ingredients-header">
        <h1><% if(session.admin){ %>Create a Public Menu<% }else{ %>Create Menu<% } %></h1>
    </div>
    <form class="profile-main add-recipe" method="POST" action="/menus/create" enctype="multipart/form-data">
        <div class="profile-card">
            <h1><i class="material-icons">people</i>Sharing Settings</h1>
            <input type="hidden" id="viewer-input" value="[]" name="sharedUsersRelJSON">
            <% if(!session.admin){ %>
                <div class="allergens flex-container" id="add-viewer-container" style="margin-bottom: 0">
                    <div class="flex-container add-allergen">
                        <input type="text" list="user-datalist" placeholder="Add viewer" id="add-viewer-input">
                        <button type="button" onclick="addViewer()"><i class="material-icons">done</i></button>
                    </div>
                </div>
            <% } %>
            <h2>Display to Viewers</h2>
            <h3>Recipe Costs</h3>
            <div class="checkbox flex-container">
                <div>Food</div>
                <label class="switch"><input type="checkbox" name="foodShareJSON"><span class="slider"></span></label>
            </div>
            <div class="checkbox flex-container">
                <div>Labor</div>
                <label class="switch"><input type="checkbox" name="laborShareJSON"><span class="slider"></span></label>
            </div>
            <div class="checkbox flex-container">
                <div>Misc</div>
                <label class="switch"><input type="checkbox" name="miscShareJSON"><span class="slider"></span></label>
            </div>
            <div class="checkbox flex-container">
                <div>Overhead</div>
                <label class="switch"><input type="checkbox" name="overheadShareJSON"><span class="slider"></span></label>
            </div>
            <h3>Recipe Values</h3>
            <div class="checkbox flex-container">
                <div>Profit</div>
                <label class="switch"><input type="checkbox" name="profitShareJSON"><span class="slider"></span></label>
            </div>
            <div class="checkbox flex-container">
                <div>Profit Margin</div>
                <label class="switch"><input type="checkbox" name="profitMarginShareJSON"><span class="slider"></span></label>
            </div>
            <div class="checkbox flex-container">
                <div>Price</div>
                <label class="switch"><input type="checkbox" name="priceShareJSON"><span class="slider"></span></label>
            </div>
            <h3>Other</h3>
            <div class="checkbox flex-container">
                <div>Allergens</div>
                <label class="switch"><input type="checkbox" name="allergensShareJSON"><span class="slider"></span></label>
            </div>
        </div>
        <div class="profile-feed">
            <% include partials/forms/error %>
            <div class="post-card">
                <div class="post-header flex-container">
                    <div class="media" style="vertical-align: middle; height: 45px; display: inline-block; margin-right: 10px" id="logo-media">
                    </div>
                    <input type="text" placeholder="Title" name="name" style="display: inline; flex: 1" required>
                </div>
                <div class="post-content">
                    <div id="add-recipe-container">
                        <input type="hidden" value="[]" name="recipesRelJSON" id="recipe-input">
                        <p class="plus-button">
                            <button id="add-recipe" onclick="toggleArr(['add-recipe'], ['add-recipe-input', 'save-recipe'])" type="button" class="last-child">
                                <i class="material-icons">add</i>
                            </button>
                            <button style="display: none" id="save-recipe" onclick="addRecipe()" type="button">
                                <i class="material-icons">done</i>
                            </button>
                        Add Recipes</p>
                        <div id="add-recipe-input" style="display: none" class="grey-inputs">
                            <input type="text" placeholder="Recipe name" list="recipe-datalist" id="add-recipe-input-text" style="width: 300px">
                        </div>
                    </div>
                </div>
                <div class="post-content">
                    <div class="form-upl-wrapper">
                        <input type="file" name="logoUpl" id="logo-media-upload" oninput="previewCreate('logo-media-upload', 'logo-media')" accept=".jpg,.png,.svg,.bmp,.mp4" required>
                        <button class="form-upl" type="button">Add a logo</button>
                    </div><br>
                    <input type="submit" class="cta" value="Publish">
                    <button type="button" style="padding: 10px 15px !important; font-size: 20px" onclick="redirect('/menus')">Cancel</button>
                </div>
            </div>
        </div>
    </form>
    <% include partials/js/menuJs %>
<% } %>
<% include partials/footer %>
