<% include partials/header %>
<div class="profile-nav ingredients-header">
    <h1>Create Menu</h1>
</div>
<form class="profile-main add-recipe" method="POST" action="/menus/create" enctype="multipart/form-data">
    <div class="profile-card">
        <h1><i class="material-icons">people</i>Sharing Settings</h1>
        <div class="allergens flex-container" id="add-viewer-container" style="margin-bottom: 0">
            <input type="hidden" id="viewer-input" value="[]" name="sharedUsersRelJSON">
            <div class="flex-container add-allergen">
                <input type="text" list="user-datalist" placeholder="Add viewer" id="add-viewer-input">
                <button type="button" onclick="addViewer()"><i class="material-icons">done</i></button>
            </div>
        </div>
        <h2>Display to Viewers</h2>
        <h3>Recipe Costs</h3>
        <div class="checkbox flex-container">
            <div>Food</div>
            <label class="switch"><input type="checkbox" name="foodShareJSON"><span class="slider"></span></label>
        </div>
        <div class="checkbox flex-container">
            <div>Labor</div>
            <label class="switch"><input type="checkbox" name="laborShareJSON"><span class="slider"></span></label>
        </div>
        <div class="checkbox flex-container">
            <div>Misc</div>
            <label class="switch"><input type="checkbox" name="miscShareJSON"><span class="slider"></span></label>
        </div>
        <div class="checkbox flex-container">
            <div>Overhead</div>
            <label class="switch"><input type="checkbox" name="overheadShareJSON"><span class="slider"></span></label>
        </div>
        <h3>Recipe Values</h3>
        <div class="checkbox flex-container">
            <div>Profit</div>
            <label class="switch"><input type="checkbox" name="profitShareJSON"><span class="slider"></span></label>
        </div>
        <div class="checkbox flex-container">
            <div>Profit Margin</div>
            <label class="switch"><input type="checkbox" name="profitMarginShareJSON"><span class="slider"></span></label>
        </div>
        <div class="checkbox flex-container">
            <div>Price</div>
            <label class="switch"><input type="checkbox" name="priceShareJSON"><span class="slider"></span></label>
        </div>
        <h3>Other</h3>
        <div class="checkbox flex-container">
            <div>Allergens</div>
            <label class="switch"><input type="checkbox" name="allergensShareJSON"><span class="slider"></span></label>
        </div>
    </div>
    <div class="profile-feed">
        <div class="post-card">
            <div class="post-header">
                <input type="text" placeholder="Title" name="name">
            </div>
            <div class="post-content">
                <div id="add-recipe-container">
                    <input type="hidden" value="[]" name="recipesRelJSON" id="recipe-input">
                    <p class="plus-button"><button onclick="toggleArr(['add-recipe'], ['add-recipe-input', 'save-recipe'])" type="button">
                        <i class="material-icons" id="add-recipe">add</i>
                        <i class="material-icons" id="save-recipe" style="display: none" onclick="addRecipe()">done</i>
                    </button> Add Recipes</p>
                    <div id="add-recipe-input" style="display: none" class="grey-inputs">
                        <input type="text" placeholder="Recipe name" list="recipe-datalist" id="add-recipe-input-text" style="width: 300px">
                    </div>
                </div>
            </div>
            <div class="post-content">
                <div class="form-upl-wrapper">
                    <input type="file" name="logoUpl" accept=".jpg,.png,.svg,.bmp,.mp4" required>
                    <button class="form-upl" type="button">Add a logo</button>
                </div><br>
                <input type="submit" class="cta" value="Publish">
            </div>
        </div>
    </div>
</form>
<% include partials/js/menuJs %>
<% include partials/footer %>
