<% include partials/header %>
<div class="flex-container landing grad">
    <div>
        <h1>Welcome to ChefLyfe</h1>
        <p>
            ChefLyfe is a platform for chefs and foodservice employees
            that automates food cost calculation. Easily add menus,
            recipes, and ingredients with our intuitive interface,
            CSV uploads, and USDA searches. Add people to your brigade
            to share menus and recipes with them, and share interesting
            news and posts to your feed.
        </p>
        <div class="buttons">
            <a href="/login" class="cta">Login</a>
            <a href="/signup" class="cta imp">Get Started</a>
        </div>
    </div>
    <div>
        <img src="/img/static/postsLanding.PNG">
    </div>
</div>
<div class="flex-container landing">
    <div>
        <img src="/img/static/recipeLanding.PNG">
    </div>
    <div>
        <h1>Digital Recipes & Menus</h1>
        <div class="p">
            Use ChefLyfe easy automated features for menus and recipes, such as
            <ul>
                <li>Sharing and importing among your brigade</li>
                <li>Automatic nutrition panel generation</li>
                <li>Shopping lists</li>
                <li>Profit & food cost calculations</li>
            </ul>
        </div>
    </div>
</div>
<% include partials/footer %>
