<% include partials/header %>
<style>
    .container {
      display: block;
      position: relative;
      padding-left: 30px;
      margin-bottom: 30px;
      cursor: pointer;
      font-size: 17px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 18.5px;
      width: 18.5px;
      border: 1px solid #8C9EFF;
      border-radius: 5px;
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    .container .checkmark:after {
      left: 6px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid #8C9EFF;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .container a {
        color: #8C9EFF;
        font-weight: bold;
    }
</style>
<div id="half"></div>
<form class="login-form" method="POST" action="/<%= session.page %>" enctype="multipart/form-data">
    <div class="login-form-header">
        <a href="/signup" class="<%= session.page == 'signup' ? 'selected' : '' %>">Sign up</a>
        <a href="/login" class="<%= session.page == 'login' ? 'selected' : '' %>">Log in</a>
    </div>
    <div class="login-form-wrapper">
        <% include partials/forms/error %>
        <% if(session.page == 'signup'){ %>
            <h3>Basic info</h3>
            <div class="form-inline">
                <div class="login-form-input">
                    <label for="first">First name</label>
                    <input type="text" name="first" required>
                </div>
                <div class="login-form-input">
                    <label for="last">Last name</label>
                    <input type="text" name="last" required>
                </div>
            </div>
            <h3>International</h3>
            <div class="form-inline">
                <div class="login-form-input">
                    <label for="username">Measurement System</label>
                    <select name="system">
                        <option value="imperial">Imperial</option>
                        <option value="metric">Metric</option>
                    </select>
                </div>
                <div class="login-form-input">
                    <label for="last">Currency Symbol</label>
                    <input type="text" name="currency" placeholder="$, €, £" required>
                </div>
            </div>
            <h3>Account details</h3>
            <div class="form-inline">
                <div class="login-form-input">
                    <label for="username">Username</label>
                    <input type="text" name="username" required>
                </div>
                <div class="login-form-input">
                    <label for="last">Email</label>
                    <input type="email" name="email" required>
                </div>
            </div>
            <div class="login-form-input">
                <label for="last">Password</label>
                <input type="password" name="password" required>
            </div>
            <div id="avatar-media"></div>
            <div class="form-upl-wrapper">
                <input type="file" name="avatarUpl" accept=".jpg,.png,.svg,.bmp" id="avatar-media-upload" oninput="previewCreate('avatar-media-upload', 'avatar-media')" required>
                <button class="form-upl">Upload avatar</button>
            </div>
            <label class="container">I agree to the ChefLyfe <a href="/terms">Terms & Conditions</a> and <a href="/privacy">Privacy Policy</a>
              <input type="checkbox" required>
              <span class="checkmark"></span>
            </label>
            <input type="submit" value="Let's go!">
        <% }else{ %>
            <h3>Enter your details</h3>
            <div class="login-form-input">
                <label for="username">Username</label>
                <input type="text" name="username" required>
            </div>
            <div class="login-form-input">
                <label for="password">Password</label>
                <input type="password" name="password" required>
            </div>
            <a href="/reset" style="margin: 20px 0; display: block; color: #8C9EFF">Forgot password?</a>
            <input type="submit" value="Login">
        <% } %>
    </div>
</form>
<% include partials/footer %>
