<% include partials/header %>
<div class="profile-nav ingredients-header">
    <h1>Menus</h1>
</div>
<div class="profile-main recipe-main">
    <div class="profile-feed">
        <button class="add-post" id="add-post-button" onclick="toggle('add-post-button', 'new-post')">
            <a href="/menus/create" style="width: 100%"><i class="material-icons">add</i> Add Menu</a>
        </button>
        <% for(let i = 0; i < menus.length; i++){ %>
            <div class="post-card">
                <div class="post-header">
                    <span><%= menus[i].name %></span>
                    <time class="timeago" datetime="<%= new Date(menus[i].timestamp).toISOString() %>"></time>
                </div>
                <div class="post-content flex-container heading-icons">
                    <span><i class="material-icons">people</i>
                    <% if(menus[i].sharedUsers.filter(s => s.id == session.userID).length == 0){ %>Author<% }else{ %>Viewer<% } %></span>
                </div>
                <div class="post-content">
                    <a class="cta" href="/menus/<%= menus[i].id %>">View</a>
                </div>
            </div>
        <% } %>
</div>
<% include partials/footer %>
