<% include partials/header %>
<% if(locals.public){ %>
    <div class="profile-header-container">
        <div class="profile-header-overlay" style="color: white; opacity: 1">
            <div class="center-inline">
                <h1 style="font-weight: 300; font-size: 45px">Public Menus</h1>
            </div>
        </div>
        <div class="profile-header"
         style="background: url(/img/static/menus.jpg); background-size: cover">
        </div>
    </div>
<% }else{ %>
    <div class="profile-nav ingredients-header">
        <h1>Menus</h1>
    </div>
<% } %>
<div class="profile-main recipe-main">
    <div class="profile-feed">
        <% include partials/forms/error %>
        <% if(!locals.public){ %>
            <button class="add-post" id="add-post-button" onclick="toggle('add-post-button', 'new-post')">
                <a href="/menus/create" style="width: 100%"><i class="material-icons">add</i> Add Menu</a>
            </button>
        <% } %>
        <% if(menus.length == 0 && locals.public){ %>
            <p style="text-align: center">No public menus found</p>
        <% } %>
        <% for(let i = 0; i < menus.length; i++){ %>
            <% let auth;
                if(locals.public){
                    auth = menus[i].author.id == session.userID;
                }else{
                    auth = menus[i].sharedUsers.filter(s => s.id == session.userID).length == 0;
                } %>
            <div class="post-card">
                <div class="post-header">
                    <span><%= menus[i].name %></span>
                    <time class="timeago" datetime="<%= new Date(menus[i].timestamp).toISOString() %>"></time>
                </div>
                <% if(!locals.public){ %>
                    <div class="post-content flex-container heading-icons">
                        <span><i class="material-icons">people</i>
                        <% if(menus[i].sharedUsers.filter(s => s.id == session.userID).length == 0){ %>Author<% }else{ %>Viewer<% } %></span>
                    </div>
                <% } %>
                <div class="post-content">
                    <% if(!auth){ %>
                        <form style="display: inline" method="POST" action="/menus/transfer/<%= menus[i].id %>?_method=PUT">
                            <button class="button-cta">Get menu</button>
                        </form>
                    <% } %>
                    <a class="cta" href="/menus/<%= menus[i].id %>">View</a>
                </div>
            </div>
        <% } %>
    </div>
</div>
<% include partials/footer %>
