<% include partials/header %>
<div class="flex-container landing">
    <div>
        <h1>404 Not Found</h1>
        <div class="p">
            Sorry, we can't find what you're looking for
        </div>
    </div>
</div>
<% include partials/footer %>
