<% include partials/header %>
<div class="flex-container landing">
    <div>
        <h1><% if(locals.code){ %>500 Internal Server Error<% }else{ %>404 Not Found<% } %></h1>
        <div class="p">
            <% if(locals.code){ %>
                Sorry, it looks like there's an issue on our end
            <% }else{ %>
                Sorry, we can't find what you're looking for
            <% } %>
        </div>
    </div>
</div>
<% include partials/footer %>
