<% include partials/header %>
<div class="payment-header">
    <h1>Pricing Plans</h1>
    <hr>
    <p>Choose a payment plan based on how long you plan to use our platform</p>
</div>
<% include partials/forms/error %>
<div class="profile-main recipe-main payment">
    <div class="post-card">
        <div class="post-content">
            <p><i class="material-icons">adjust</i>Sample</p>
            <p>Try Cheflyfe for 3 months</p>
            <p>$36.00</p>
            <a href="https://api.ezypay.com/7616/special-offer">Choose</a>
        </div>
    </div>
    <div class="post-card">
        <div class="post-content">
            <p><i class="material-icons">local_pizza</i>Appetizer</p>
            <p>Get 6 months of access to ChefLyfe</p>
            <p>$65.00</p>
            <a href="https://api.ezypay.com/7616/special-offer">Choose</a>
        </div>
    </div>
    <div class="post-card">
        <div class="post-content">
            <p><i class="material-icons">restaurant_menu</i>Entree</p>
            <p>Use ChefLyfe for a whole year</p>
            <p>$120.00</p>
            <a href="https://api.ezypay.com/7616/special-offer">Choose</a>
        </div>
    </div>
</div>
<% include partials/footer %>
