<% include partials/header %>
<div class="payment-header">
    <% include partials/forms/error %>
    <h1>Pricing System</h1>
    <hr>
    <p>ChefLyfe offers different subscription options based on how long you plan to use our platform</p>
    <p style="color: #8C9EFF">All options initially include a 7-day free trial</p>
</div>
<div class="profile-main recipe-main payment">
    <% for(let i = 0; i < plans.length; i++){ %>
        <div class="post-card">
            <div class="post-content">
                <p><i class="material-icons"><%= plans[i].icon %></i><%= plans[i].nickname %></p>
                <p><%= plans[i].description %></p>
                <p>$<%= plans[i].amount %></p>
            </div>
        </div>
    <% } %>
</div>
<div class="flex-container" style="justify-content: center; margin: 20px 0">
    <a href="/signup" id="get-started">Get Started</a>
</div>
<% include partials/footer %>
