<% include partials/header %>
<div id="half"></div>
<form class="login-form" method="POST" action="/reset">
    <div class="login-form-wrapper">
        <h3>Enter information</h3>
        <div class="login-form-input">
            <label for="username">Email</label>
            <input type="email" name="email" required>
        </div>
        <div class="login-form-input">
            <label for="password">New Password</label>
            <input type="password" name="temp" required>
        </div>
        <i style="display: block; margin: 20px 0; color: grey; font-weight: 300">Your email must be verified before requesting a reset</i>
        <input type="submit" value="Reset">
    </div>
</form>
<% include partials/footer %>
