.login-form {
    position: absolute;
    margin: 30px 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    border-style: hidden;
    border-radius: 7px;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
    max-width: 95%;
    width: 900px;
}
.login-form-wrapper {
    padding: 15px 60px;
}
.form-inline .login-form-input {
    display: inline-block;
}
.login-form-input:first-child {
    padding-right: 20px;
}
.login-form-input * {
    display: block;
}
.login-form-wrapper > input, .login-form-wrapper > div {
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
}
.login-form-input input, .login-form-input select, .login-form-input textarea {
    padding: 10px;
    margin: 10px 0;
    width: 330px;
    max-width: 80vw;
    border: 1px grey solid;
    border-radius: 3px;
    color: grey;
    transition: 0.2s ease-in-out;
}
.login-form-input textarea {
    height: 200px;
}
.post-content .login-form-input input[type=text] {
    border: 1px grey solid !important;
    padding: 10px !important;
    width: 330px;
    max-width: 80vw;
    font-weight: normal !important;
    font-size: 15px !important;
}
.login-form-input input:focus, .login-form-input select:focus {
    outline: none;
    border-color: #8C9EFF;
    color: #8C9EFF;
}
input[type=text], input[type=password], input[type=email], textarea, input[type=number] {
    padding: 10px;
    border: 1px grey solid;
    border-radius: 3px;
}
input:focus, textarea:focus {
    outline: none;
    border-color: #8C9EFF;
    color: #8C9EFF;
}
.login-form-header {
    background-color: whitesmoke;
    border-style: hidden;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.login-form-header a {
    position: relative;
    margin: 0;
    font-size: 22px;
    font-weight: 300;
    width: 45%;
    padding: 17px 20px;
    border-style: hidden;
    background-color: transparent;
    color: inherit;
    color: rgb(110,110,110);
    display: inline-block;
}
.login-form-header a:first-child {
    border-top-left-radius: 7px;
}
.login-form-header a:last-child {
    border-top-right-radius: 7px;
    width: 45%;
}
.login-form-header a.selected {
    background-color: white;
    color: inherit;
    font-weight: bold;
}
.form-upl-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.form-upl {
    background-color: whitesmoke;
    color: grey;
    font-weight: 300;
}
input[type=submit], .form-upl {
    font-size: 15px;
    margin: 10px 0;
    padding: 14px 16px;
    border-style: hidden;
    border-radius: 5px;
}
input[type=submit] {
    font-weight: 700;
    border: 1.5px #3D5AFE solid;
    color: #3D5AFE;
    background-color: transparent;
    transition: 0.2s ease-in-out;
}
input[type=submit]:hover {
    background-color: #3D5AFE;
    color: white;
}
.form-upl-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}
.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: whitesmoke;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #8C9EFF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8C9EFF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
input, textarea {
    font-family: inherit !important;
}
.rating {
  display: inline-block;
  position: relative;
  height: 25px;
  line-height: 25px;
  font-size: 25px;
  margin-right: 5px;
  vertical-align: -7px;
}
.rating-container {
    margin: 20px 20px;
    margin-top: 7px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: rgb(230,230,230);
  transition: 0.2s ease-in-out;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #8C9EFF;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: grey;
  text-shadow: 0 0 5px #09f;
}
.rating-container button {
    border-radius: 100vw !important;
    color: #8C9EFF !important;
    border-color: #8C9EFF !important;
}
.rating-container button:hover {
    background-color: #8C9EFF !important;
    color: white !important;
}
.star-rating-container > * {
    vertical-align: middle;
    margin-right: 5px;
    color: grey;
}
.star-rating {
    color: #8C9EFF;
    font-size: 25px !important;
}
.rating-container:nth-last-child(2) {
    padding-bottom: 20px;
}
