@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900&display=swap');
@import 'forms.css';
@import 'nav.css';
@import 'scroll.css';

html, body {
    margin: 0;
    color: rgb(90, 90, 90);
    font-family: 'Roboto', arial, sans-serif;
}
span {
    padding: 0;
    display: inline;
}
a {
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
}
i {
    font-size: inherit !important;
}
a:visited {
    color: inherit;
}
button:focus {
    outline: none;
}

#content {
    position: relative;
    width: 100%;
    z-index: 1;
}
#half {
    top: -20px;
    height: 100%;
    width: 100%;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat !important;
    background-image: url('/img/static/login.jpg');
}
.profile-header-container {
    position: relative;
}
.profile-header {
    height: 30vh;
    background-size: cover;
}
.profile-header-overlay {
    height: 30vh;
}
.profile-header-overlay, .media-overlay {
    position: absolute;
    width: 100%;
    background-color: rgba(90,90,90,0.5);
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.profile-header-overlay .form-upl-wrapper, .media-overlay .form-upl-wrapper {
    height: 100%;
    width: 100%;
}
.profile-header-overlay:hover, .media-overlay:hover {
    opacity: 1;
}
.center-inline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-inline > * {
    display: inline-block;
    vertical-align: middle;
}
.profile-header-overlay .form-upl-wrapper {
    width: auto;
}
.profile-header-overlay .form-upl, .profile-header-overlay button {
    padding: 0;
    margin: 0 10px;
    background-color: transparent;
    color: whitesmoke;
    font-size: 55px;
    border-style: hidden;
}
.profile-main, .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}
.profile-card {
    position: relative;
    margin: 0 50px;
    top: -10vh;
    width: 220px;
    padding: 25px 24px;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    border-style: hidden;
    border-radius: 5px;
    text-align: center;
}
.profile-card * {
    display: block;
}
.profile-card .img, .avatar-overlay {
    width: 110px;
    height: 110px;
    margin-right: auto;
    margin-left: auto;
    border-style: hidden;
    border-radius: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
.avatar-container {
    position: relative;
    margin: 21px 0;
}
.avatar-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: rgba(90, 90, 90, 0.5);
}
.avatar-overlay:hover {
    opacity: 1;
}
.avatar-overlay .form-upl-wrapper {
    position: relative;
    margin: 30% auto;
}
.avatar-overlay .form-upl-wrapper .form-upl {
    color: whitesmoke;
    font-size: 45px;
    margin: 0 auto;
    padding: 0;
    border-style: hidden;
    background-color: transparent;
}
.profile-card h1 {
    font-size: 25px;
    font-weight: 300;
    color: #8C9EFF;
}
.card-heading {
    margin: 29px 0;
}
.profile-card p {
    font-size: 20px;
    margin: 21px 0;
}
.profile-card textarea {
    margin: 0 auto;
    font-size: inherit;
    font-family: inherit;
    text-align: center;
}
.profile-card .inline-center * {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.add-button * {
    vertical-align: middle;
    display: inline;
}
.add-button {
    border-style: hidden;
    background-color: #536DFE;
    padding: 7px 12px;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    margin: 0 auto;
    transition: 0.2s ease-in-out;
}
.add-button[disabled] {
    background-color: grey;
}
.add-button:hover {
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
}
.profile-nav {
    width: 100%;
    background-color: #536DFE;
    box-sizing: border-box;
}
.profile-nav-button {
    font-size: 15px;
    padding: 15px;
    margin-right: 1vw;
    background-color: transparent;
    color: whitesmoke;
    border-style: hidden;
    transition: 0.2s ease-in-out;
}
.profile-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.profile-nav-button.active {
    color: white;
    border-bottom: 2px whitesmoke solid;
}
.profile-feed {
    padding: 15px 10px;
    flex: 0.9;
    min-width: 300px;
    max-width: 95%;
}
.profile-feed > * {
    margin: 10px 0;
}
.add-post {
    font-size: 20px;
    vertical-align: middle;
    background-color: whitesmoke;
    color: inherit;
    transition: 0.2s ease-in-out;
    padding: 10px 20px;
}
.add-post:hover {
    background-color: rgb(240, 240, 240);
}
.post-card, .add-post {
    border-style: hidden;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}
.post-card {
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.1);
}
.post-card input[type=text], .profile-card input[type=text], textarea {
    position: relative;
    border-style: hidden;
    padding: 0;
    color: inherit;
}
.post-card input[type=text]:focus, textarea:focus {
    color: #8C9EFF;
}
.post-card input[type=text] {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}
.post-card textarea {
    font-family: inherit;
    letter-spacing: 1px;
    font-size: 16px;
    width: 95%;
}
.post-card input[type=submit], .post-card button, .profile-card .inline-center * {
    padding: 5px 10px !important;
    border-radius: 3px;
    font-family: inherit;
    font-size: 15px;
    transition: 0.2s ease-in-out;
}
.post-card input[type=submit], .profile-card .inline-center input {
    border: 1px solid #536DFE;
    font-weight: normal;
}
.post-card button:last-child, .profile-card .inline-center button {
    border: 1px solid grey;
    background-color: white;
    color: grey;
}
.post-card button:last-child:hover, .profile-card .inline-center button:hover {
    color: white;
    background-color: grey;
}
.post-card button.form-upl {
    margin: 0;
    color: inherit;
    border-style: hidden;
    background-color: whitesmoke;
    font-weight: normal;
}
.post-card > * {
    box-sizing: border-box;
}
.post-header {
    font-size: 18px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    border-bottom: 1.5px solid rgb(240, 240, 240);
    padding: 10px 20px;
    width: 100%;
    letter-spacing: 0.5px;
    vertical-align: middle;
}
.post-header time, .post-header h4 {
    display: inline;
    float: right;
    font-size: 16px;
    font-weight: 300;
    color: #8C9EFF;
}
.post-content {
    font-size: 17px;
    padding: 10px 20px;
    letter-spacing: 1px;
}
.post-content.media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.media-container {
    height: 200px;
    max-width: 100%;
    margin: 5px;
}
.media-overlay button:last-child {
    background-color: transparent;
    color: white;
    font-size: 44px;
    border-style: hidden;
}
.media-overlay button:last-child:hover {
    color: white !important;
    background-color: transparent !important;
}
.post-content img, video {
    max-width: 100%;
    height: 200px;
    vertical-align: top;
}
.media-overlay {
    position: relative;
    top: -100%;
    height: 100%;
    width: 100%;
}
.brigade {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: none;
    font-weight: 300;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
    margin-bottom: 0;
}
.brigade + .brigade {
    margin-top: 0;
    border-top-style: hidden;
}
.brigade ~ .brigade {
    margin-bottom: 0;
}
.brigade * {
    vertical-align: middle;
}
.brigade a {
    padding: 0;
}
.brigade a * {
    vertical-align: middle;
}
.brigade img {
    height: 30px;
    width: 30px;
    border-style: hidden;
    border-radius: 100vw;
    margin-right: 10px;
}
#profile-feed-brigade h3 {
    margin: 20px 0;
}
.brigade button:last-child {
    position: relative;
    left: 0;
}
.brigade button.cta:last-child {
    border: 1px solid #536DFE;
    color: #536DFE;
}
.brigade button.cta:last-child:hover {
    background-color: #536DFE;
    color: white;
}


.ingredients-header {
    margin: 0;
    text-align: center;
    color: white;
    background: linear-gradient(45deg, #8C9EFF, #304FFE);
}
.ingredients-header h1 {
    margin: 0;
    padding: 30px 0;
    font-weight: normal;
}
.ingredient {
    box-shadow: none !important;
    border: 1px solid whitesmoke;
    width: auto;
    display: inline-block;
    margin: 10px;
    max-width: 500px;
}
.ingredient .post-header * {
    margin: 5px 0;
}
.ingredient .post-content:not(:last-child) {
    padding: 0 20px;
    margin: 0;
}
.allergen {
    color: white;
    background-color: coral;
    padding: 5px 10px;
    margin: 3px 5px;
    border-style: hidden;
    border-radius: 100vw;
    font-size: 15px;
    transition: 0.5s ease-in-out;
    cursor: default;
}
.allergen * {
    vertical-align: middle;
}
.allergen:hover {
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
}
.allergens {
    margin: 0;
    margin-bottom: 20px;
}
.ingredient .post-content.icons {
    background-color: whitesmoke;
}
.ingredient .post-content.icons input {
    color: grey;
    font-weight: bold;
    margin: 0;
    padding: 0 !important;
}
.ingredient .post-content.icons > span {
    margin: 4px 10px;
    letter-spacing: 0;
    color: rgb(200,200,200);
    font-weight: bold;
}
.ingredient .post-content.icons span i {
    font-size: 20px !important;
    vertical-align: -3.5px;
    padding: 0 2px;
    color: #8C9EFF;
}
.add-ingredient {
    cursor: pointer;
    box-shadow: none;
    padding: 20px 25px;
    background-color: whitesmoke;
    text-align: center;
    color: grey;
}
.add-ingredient i {
    font-size: 50px !important;
    margin: 10px 0;
}
.add-ingredient p {
    margin: 5px 0;
    font-size: 17px;
}
.ingredient .post-header input {
    font-family: inherit;
    display: inline-block;
    width: 58%;
}
.ingredient .post-header input:last-child {
    width: 40%;
    font-weight: 300;
    font-size: 16px;
}
.add-allergen {
    width: 100%;
    margin-bottom: 10px;
}
 .add-allergen > * {
    display: inline;
    vertical-align: middle;
}
 .add-conversion input:focus {
    color: #536DFE !important;
}
 .add-allergen input[type=text], .add-allergen input[type=number] {
    font-size: 15px;
    font-weight: normal;
    width: 40%;
    background-color: whitesmoke;
    padding: 8px;
}
.ingredient .add-allergen input:focus {
    color: coral;
}
.ingredient .allergens button, .small-input button {
    background-color: white;
    color: coral;
    font-size: 18px;
    padding: 6px 9px !important;
    padding-top: 7px !important;
    padding-bottom: 4px !important;
    margin: 0 5px;
    border-radius: 100vw;
    border: 1px solid coral;
}
.small-input button:last-child, button.edit-conversions {
    border-color: #536DFE !important;
    color: #536DFE !important;
    background-color: white !important;
}
.small-input button:last-child:hover, button.edit-conversions:hover {
    background-color: #536DFE !important;
    color: white !important;
}
.ingredient .allergens button:hover {
    background-color: coral;
    color: white;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
}
.small-input input, .small-input input[type=text] {
    background-color: whitesmoke;
    border-style: hidden;
    padding: 10px !important;
    margin: 0 5px;
    width: 12%;
    font-size: 15px;
    font-weight: normal;
}
.small-input input[type=text]{
    width: 20%;
}
.smaller-input input[type=number] {
    width: 8%;
}
.smaller-input input[type=text] {
    width: 12%;
}
.normal-button {
    background-color: whitesmoke;
    border-style: hidden;
    color: grey;
}
.recipe-main {
    justify-content: center;
}
.recipe-main .profile-feed {
    display: block !important;
    flex-direction: column;
    min-width: 0;
    flex: 0 0 800px;
    width: 800px;
    max-width: 95%;
    padding: 0;
    padding-top: 20px;
}
.recipe-main .post-card {
    padding-bottom: 10px;
}
a.cta, button.button-cta {
    padding: 10px !important;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    vertical-align: middle;
    font-size: 17px;
}
a.cta {
    background-color: #536DFE !important;
    color: white !important;
    border-style: hidden !important;
}
button.button-cta {
    color: #536DFE !important;
    border-color: #536DFE !important;

}
button.button-cta:hover {
    color: white !important;
    background-color: #536DFE !important;
}
a.cta:hover {
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
}
.recipe-main img, .recipe-main .media-container, .media-overlay {
    height: 200px;
}
.recipe-main .post-content:last-child {
    margin: 10px 0;
}
.recipe-main .heading-icons {
    padding-bottom: 5px;
    padding-top: 17px;
    font-size: 20px;
    font-weight: bold;
    color: #8C9EFF;
}
.recipe-main .heading-icons > span {
    margin-right: 30px;
    cursor: default;
}
.recipe-main .heading-icons i {
    vertical-align: -3px;
    padding-right: 10px;
}
.add-recipe .profile-card {
    top: -30px;
    text-align: left;
    padding: 10px 40px;
}
.profile-card .flex-container {
    display: flex;
}
.profile-card .add-allergen {
    justify-content: space-between;
}
.profile-card .add-allergen input {
    flex: 0.9;
}
.add-recipe .profile-card h1 i {
    font-size: 60px !important;
    font-weight: bold;
}
.add-recipe .profile-card h1 {
    text-align: center;
}
.add-recipe .profile-card h3 {
    color: grey;
    font-weight: 300;
}
.add-recipe .profile-card button {
    color: #536DFE;
    border: 1px solid #536DFE;
    border-radius: 100vw;
    background-color: white;
    padding: 9px 9px;
    transition: 0.5s ease-in-out;
}
.add-recipe .profile-card button:hover {
    background-color: #536DFE;
    color: white;
}
.profile-card input:focus {
    color: #8C9EFF;
}
.checkbox {
    display: flex;
    width: 100%;
    margin: 15px 0;
    justify-content: space-between;
}
.checkbox div:first-child {
    max-width: 160px;
    text-align: left;
}
.profile-card .checkbox input[type=number] {
    color: grey;
    display: inline;
    width: 25%;
    padding: 5px;
    border-style: hidden;
    background-color: whitesmoke;
}
.plus-button {
    font-size: 20px;
    font-weight: 300;
    color: grey;
}
.plus-button button:last-child {
    color: #536DFE;
    border: 1px solid #536DFE;
    border-radius: 100vw;
    padding: 4px 7px !important;
    padding-top: 6px !important;
    margin-right: 10px;
}
.plus-button button:last-child:hover {
    background-color: #536DFE;
}
.step span {
    flex: 1;
}
.grey-inputs input[type=text], .grey-inputs input[type=number], .grey-inputs select {
    background-color: whitesmoke;
    padding: 10px;
    width: 70px;
    border-style: hidden;
    font-size: 15px;
    color: grey;
    font-weight: normal;
}
.grey-inputs input[type=text]:focus, .grey-inputs input[type=number]:focus, .grey-inputs select:focus {
    outline: none;
    color: #536DFE;
}
.grey-inputs select {
    width: 90px;
}
#add-ingredient-input input:first-child {
    width: 220px;
}
.add-recipe .post-card {
    box-shadow: none;
}
.add-recipe .post-card .post-header input, .add-recipe .post-card .post-header span {
    font-size: 35px;
}
.add-recipe .post-card textarea:not(#add-step-input), p#description {
    font-size: 20px;
    margin-bottom: 40px;
}
.add-recipe .post-card input[type=submit], #edit-recipe button, #menu-edit button {
    margin: 40px 0;
    font-size: 20px;
    padding: 10px 15px !important;
}
.add-recipe .post-card input[type=submit] {
    color: white;
    background-color: #536DFE;
}
.add-recipe .post-card input[type=submit]:hover {
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
}
.recipe-img {
    border-radius: 0 !important;
    width: 75px !important;
    height: auto !important;
}
@media print
{
    .no-break {
        page-break-inside: avoid;
    }
}
.nutritionLabel {
    width: 300px !important;
}
.post-content .canvas-container {
    height: 270px;
    width: 430px;
    padding: 10px;
    margin: 10px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}
.post-content .canvas-container:first-child {
    height: 370px;
    width: 900px;
}
.profile-main .post-content br {
    display: block;
    margin: 10px 0;
    line-height: 2;
}
#slideshow {
    justify-content: space-around;
    align-items: center;
}
#slideshow button {
    background-color: transparent;
    border-style: hidden;
    font-size: 40px;
    color: grey;
    cursor: pointer;
}
#slideshow button:hover {
    color: #8C9EFF;
}
#slideshow .media-container, #slideshow .media-container img, #slideshow .media-container video {
    width: 500px;
    height: auto;
    max-width: 90%;
}
.chart-list button:first-child {
    border-top: 1.5px solid whitesmoke !important;
}
.chart-list button {
    width: 100%;
    text-align: left;
    border-style: hidden !important;
    border-bottom: 1.5px solid whitesmoke !important;
    border-radius: 0 !important;
    color: grey !important;
    font-size: 17px;
}
.chart-list button:hover, .chart-list button.active {
    background-color: whitesmoke !important;
    color: #8C9EFF !important;
}
table {
    position: relative;
    border-collapse: collapse;
    margin: 10px 0;
}
table, th, td {
    border: 1.5px solid rgb(200,200,200);
    padding: 10px;
}
